body {
	display: grid;
	max-width: 1300px;
	margin: 0 auto;
}

a {
	color: var(--color-action-thin);
}

button {
	padding: 0 var(--space-00);
	border-radius: var(--space-01);
	border: 0;
	background-color: var(--color-action-bold);
	color: var(--color-back);
	cursor: pointer;
	box-shadow: var(--glow-action);
}

.loader {
	position: fixed;
	z-index: 9999;
	background: var(--color-action-bold);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: grid;
	align-content: center;
	justify-content: center;
	transition: 0.4s visibility, 0.4s opacity;
}

.loader .logo {
	color: white;
	animation: pulse 0.5s infinite alternate;
}

.social {
	display: inline-block;
}

.social > * {
	display: inline-block;
	margin-right: var(--space-01);
	vertical-align: top;
}

.social img {
	height: var(--space-00);
	margin-top: var(--space-01);
	margin-bottom: var(--space-01);
	cursor: pointer;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.hide {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.left {
	display: grid;
	grid-auto-flow: column;
	text-align: left;
}

.right {
	overflow: hidden;
}

.info {
	align-self: center;
	max-width: 700px;
}

.pics {
	position: relative;
	display: inline-block;
	--gap: var(--space-02);
	-webkit-column-gap: var(--gap);
	-moz-column-gap: var(--gap);
	-o-column-gap: var(--gap);
	column-gap: var(--gap);
	animation: slide 20s infinite alternate ease-in-out;
}

@keyframes slide {
	from {
		transform: translateY(0vh);
	}
	to {
		transform: translateY(-50vh);
	}
}

.pics img {
	width: 100%;
	object-fit: cover;
	margin-bottom: var(--space-02);
	/* filter: contrast(90%); */
	background: rgb(240, 240, 240);
}

@media screen and (max-width: 720px) {
	body {
		grid-template-columns: 1fr;
		grid-auto-rows: auto auto min-content;
	}
	.left {
		padding: var(--space-10);
	}

	.logoCenter {
		text-align: center;
	}
	.right {
		max-height: 80vh;
	}
	.pics {
		--clmns: 2;
		-webkit-column-count: var(--clmns);
		-moz-column-count: var(--clmns);
		-o-column-count: var(--clmns);
		column-count: var(--clmns);
	}
	.footer {
		padding: var(--space-00);
		text-align: center;
	}
}

@media screen and (min-width: 720px) {
	body {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr min-content;
	}
	.left {
		grid-column: 1;
		grid-row: 1;
		padding: var(--space-10) var(--space-20) 0;
	}
	.right {
		grid-column: 2;
		grid-row: 1 / -1;
		max-height: 100vh;
	}
	.pics {
		--clmns: 160px;
		-webkit-column-width: var(--clmns);
		-moz-column-width: var(--clmns);
		-o-column-width: var(--clmns);
		column-width: var(--clmns);
	}
	.footer {
		grid-column: 1;
		grid-row: 2;
		padding: var(--space-01) var(--space-20);
	}
}
